<!DOCTYPE html>
<html>
<<<<<<< HEAD
 
<div class="navbar navbar-inverse">
  <div class="container">
=======
  <header class = "masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class = "mx-auto text-center">
>>>>>>> 77d8e61b494560dc54b4e4daae0313969078425e
    <div class="navbar-header">
      <%= link_to 'CastAway', home_index_url, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</div>
<<<<<<< HEAD


 
=======
>>>>>>> 77d8e61b494560dc54b4e4daae0313969078425e
  <head>
    <title>CastAway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<<<<<<< HEAD
=======



>>>>>>> 77d8e61b494560dc54b4e4daae0313969078425e

